
  <div class="background-image"></div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
      <h5 href="/home" class="active">Citas Mendicas</h5>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="/registro-cita-pedagogia" routerLinkActive="active">Registro de Citas Pedadogia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/horarios" routerLinkActive="active">Horarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/historial" routerLinkActive="active">Historial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/recordatorios" routerLinkActive="active">Recordatorios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/configuracion-usuario" routerLinkActive="active">Configuración del Usuario</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-primary me-2" type="button" routerLink="/home">Cerrar Secion</button>
        </form>
      </div>
    </div>
  </nav>
  <section class="welcome-section">
    <h1 class="section-title">¡Bienvenido, Dr. Juan Pérez!</h1>
    <p class="section-content">Especialista en Psicología</p>
    <p class="section-content">Estamos encantados de tenerlo aquí. Desde esta sección, puede acceder rápidamente a las siguientes funciones:</p>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2024 Citas Médicas. Todos los derechos reservados.</p>
  </footer>

  <!-- Bootstrap and JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


