<div class="background-image"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <h5 href="/home" class="active">Citas Mendicas</h5>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/registro-cita-pedagogia" routerLinkActive="active">Registro de Citas Pedadogia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/horarios" routerLinkActive="active">Horarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/historial" routerLinkActive="active">Historial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/recordatorios" routerLinkActive="active">Recordatorios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/configuracion-usuario" routerLinkActive="active">Configuración del Usuario</a>
          </li> -->
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-primary me-2" type="button" routerLink="/register">Registrarse</button>
        </form>
      </div>
    </div>
  </nav>
<section class="vh-100" >
  <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="card" style="border-radius: 1rem;">
                  <div class="row g-0">
                      <div class="col-md-12 d-flex align-items-center">
                          <div class="card-body p-4 p-lg-5 text-black">
                              <form>
                                  <!-- Centrado de los textos -->
                               

                                  <h5 class="text-center fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicia Sesión con tu cuenta</h5>

                                  <div class="form-outline mb-4">
                                      <input type="email" [(ngModel)]="correo" name="email" placeholder="Email" class="form-control form-control-lg" />
                                      <label class="form-label" for="form2Example17">Correo Electrónico</label>
                                  </div>

                                  <div class="form-outline mb-4">
                                      <input type="password" [(ngModel)]="password1" name="password" placeholder="Password" class="form-control form-control-lg" />
                                      <label class="form-label" for="form2Example27">Contraseña</label>
                                  </div>

                                  <div class="pt-1 mb-4 text-center">
                                      <button type="button" class="btn btn-outline-info btn-rounded" (click)="login()" data-mdb-ripple-color="dark">Iniciar Sesión</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
